@page "/"
@using Models

<PageTitle>Game Cataog</PageTitle>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th class="text-end">Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(var game in games){
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td  class="text-end">@game.Price.ToString("C2")</td>
                <td>@game.ReleaseDate</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>


@code {
    private GameSummary[] games = [
    new(){
        Id = 1,
        Name = "Fortnite",
        Genre = "Shooter",
        Price = 9.99M,
        ReleaseDate = new DateOnly(2018,9,12)
    },
    new(){
        Id = 2,
        Name = "WWE Smackdown vs Raw",
        Genre = "Sports",
        Price = 69.99M,
        ReleaseDate = new DateOnly(2024,3,3)
    },
    new(){
        Id = 3,
        Name = "COD MW3",
        Genre = "Shooter",
        Price = 59.99M,
        ReleaseDate = new DateOnly(2010, 5, 6)
    },
    new(){
        Id = 4,
        Name = "Forza Horizon 4",
        Genre = "Racing",
        Price = 45.99M,
        ReleaseDate = new DateOnly(2023, 4, 22)
    } 
    ];
}
